.column-header{
    position: relative;
    .filter-modal{
        position: absolute;
        background-color: lightgray;
        left: 0;
        border-radius: 8px;
        width: 70%;
        padding: 15px;
        input{
            width: 100%;
        }
    }
}
