.column-header{
    position: relative;
    .column-header-text{
        display: flex;
    }
    .filter-modal{
        position: absolute;
        background-color: lightgray;
        left: 0;
        border-radius: 8px;
        width: 70%;
        padding: 15px;
        input{
            width: 100%;
        }
    }
    .filter{
        background-image: url('../../assets//icons/filter.svg');
        height: 10px;
        width: 10px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
